nav {
    width: 100vw;
    height: 10vh;
    text-align: center;
    margin: 0;
}

section {
    width: 100vw;
    height: 90vh;
    margin: 0;
    text-align: center;
}

p {
    font-size: 5vh;
}

#answerForm, #submitButton {
    font-size: 3vh;
}

#beginButton {
    display: block;
    font-size: 2.5vh;
    margin-left: 48vw;
    margin-bottom: 2vh;
}

#timer {
    font-size: 3vh;
}

#buttonArea {
    text-align: center;
}

body {
    background: linear-gradient(to left, #ffffff 0%, #ccccff 100%);
}