nav {
    width: 100vw;
    height: 10vh;
    text-align: center;
    margin: 0;
}

section {
    width: 100vw;
    height: 90vh;
    margin: 0;
    text-align: center;
}

p {
    font-size: 5vh;
}

#answerForm, #submitButton {
    font-size: 3vh;
}

#beginButton {
    display: block;
    font-size: 2.5vh;
    margin-left: 48vw;
    margin-bottom: 2vh;
}

#timer {
    font-size: 3vh;
}

#buttonArea {
    text-align: center;
}

#body {
    background: linear-gradient(to left, #ffffff 0%, #ccccff 100%);
}

#resultsButton {
    margin-top: 10vh;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10vh auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }